name: Build with local setup environment

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "30 22 * * *" 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout nuttx code
        uses: actions/checkout@v4
        with:
          repository: SonySemiconductorSolutions/aitrios-sdk-device-nuttx
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          ref: type5-dev
          path: nuttx
          fetch-depth: 1

      - name: Checkout nuttx-apps code
        uses: actions/checkout@v4
        with:
          repository: SonySemiconductorSolutions/aitrios-sdk-device-nuttx-apps
          token: ${{ secrets.MY_GITHUB_TOKEN }}
          ref: type5-dev
          path: apps
          fetch-depth: 1

      - name: Set up build environment
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends tzdata build-essential ca-certificates curl kconfig-frontends xz-utils unzip python-is-python3 python3 python3-pip python3-venv

      - name: Install ESP32s3 toolchain
        run: |
          TOOLS_URL=https://github.com/espressif/crosstool-NG/releases/download/esp-12.2.0_20230208/xtensa-esp32s3-elf-12.2.0_20230208-x86_64-linux-gnu.tar.xz
          mkdir -p $HOME/tools/xtensa-esp32s3-elf-gcc
          curl -s -L $TOOLS_URL | tar -C $HOME/tools/xtensa-esp32s3-elf-gcc --strip-components 1 -xJ
          echo "PATH=$HOME/tools/xtensa-esp32s3-elf-gcc/bin:$PATH" >> $GITHUB_ENV
          pip install esptool>4.7.0
      - name: Build nuttx
        run: |
          cd nuttx
          ./tools/configure.sh -E esp32s3-scam:wamr_test; make
          ls -l nuttx.*

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4.3.3
        with:
        # Artifact name
          name: build_output
        # A file, directory or wildcard pattern that describes what to upload
          path: |
            nuttx/nuttx
            nuttx/nuttx.bin
            nuttx/nuttx.map
            nuttx/System.map
